h1 {
	font-size: 36px !important;
}
h2 {
	font-size: 24px;
}

h1 a {
	color: #fff;
}

p {
	font-size: 18px;
}

a:hover {
	text-decoration: none;
	color: #495057;
}

.back {
	display: inline-block;
	position: absolute;
	cursor: pointer;
}

.back:hover {
	content: url("../../images/button - back - gray.png");
}

.mainContent {
	margin: 0 auto;
	min-height: 500px;
}

.valign {
display: flex;
align-items: center;
justify-items: center;
}

.btnLogIn{
	margin: 10px;
}

.loginWindow {
  width: 300px;
	top: auto;
  margin-top: -375px;
  left: 50%;
  margin-left: -150px;
  background-color: #ccc;
	opacity: 96%;
  position: absolute;
  padding-top: 25px;
  padding-bottom: 35px;
  text-align: center;
  border-radius: 15px;
  color: black;
  font-size: 2em;
	font-weight: bold;
	align-items: center;
}
